/* Light Theme (default) */
:root {
  --upload-bg: #f7f7f7;
  --upload-border: #c8c8c8;
  --upload-hover-bg: #e8f1ff;
  --upload-hover-border: #2c6bed;

  --text-main: #222;
  --text-sub: #555;

  --card-bg: linear-gradient(30deg, #ffffff 0%, #f0f0f0 100%);
  --card-border: #aac7ff;
}

/* Dark Theme */
.dark {
  --upload-bg: #111827;
  --upload-border: #444;
  --upload-hover-bg: #2a2f38;
  --upload-hover-border: #5b8cff;

  --text-main: #e0e0e0;
  --text-sub: #888;

  --card-bg: linear-gradient(30deg, #172554 0%, #0b0f3a 100%);
  --card-border: #3a3a3a;
}

/* Form container */
.upload-form {
  margin-top: 40px;
  padding: 24px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  border: 1px solid var(--card-border);
  background: var(--card-bg);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Drag & Drop Zone */
.upload-dropzone {
  height: fit-content;
  border: 2px dashed var(--upload-border);
  background: var(--upload-bg);
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 0.35s ease;
  cursor: pointer;
}

/* When user drags file on top */
.upload-dropzone.dragging {
  background: var(--upload-hover-bg);
  border-color: var(--upload-hover-border);
  transform: scale(1.02);
}

/* TEXT ELEMENTS */
.upload-dropzone label {
  min-height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.upload-file-icon {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  color: var(--upload-hover-border);
}

.upload-main-text {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-main);
}

.upload-sub-text {
  font-size: 14px;
  margin-top: 4px;
  color: var(--text-sub);
}

/* BUTTON */
.upload-btn {
  padding: 12px;
  border: none;
  border-radius: 10px;

  font-weight: 600;
  color: white;
  background: #2a66f1;

  transition: 0.3s ease;
}

.upload-btn:hover {
  background: #1f4fd0;
}

.upload-btn:disabled {
  background: #9e9e9e;
  cursor: not-allowed;
}
