@import "tailwindcss";

*{
  transition: all 0.3s ease-in-out;
}
:root {
  --bg2-c1: #fff;
  --bg2-c2: #f5f5f5;
  --hero-c1: #3fbcff;
  --hero-c2: #0b0ffa;
  --tr-hover: #e5e7eb;
  background-color: #f5f5f5;
  color: #111827;
  font-family: 'Montserrat', sans-serif;
}
.dark{
  --bg2-c1: #111827;
  --bg2-c2: #1f2937;
  --hero-c1: #0885c8;
  --hero-c2: #000166;
  --tr-hover: #1f2937;
  background-color: #111827;
  color: #f5f5f5;
  transition: all 0.3s ease-in-out;
}
button{
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
a{
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.shadow-t-md {
  box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1);
}
.tapered {
  background-image: linear-gradient(179deg,var(--hero-c1) 0%, var(--hero-c2) 50%,transparent 54%, transparent 100%);
}
.bg-2{
  background-image: radial-gradient(circle at center center, transparent,var(--bg2-c1)),
  repeating-linear-gradient(135deg, var(--bg2-c1) 0px, var(--bg2-c1) 12px,transparent 12px, transparent 19px,var(--bg2-c1) 19px, var(--bg2-c1) 24px,transparent 24px, transparent 28px),
  repeating-linear-gradient(45deg, var(--bg2-c2) 0px, var(--bg2-c2) 7px,transparent 7px, transparent 14px),
  linear-gradient(90deg, var(--bg2-c1),var(--bg2-c1));
}
.hero-bg{
  background-image: radial-gradient(circle at 25% 54%, rgba(18, 18, 18,0.06) 0%, rgba(18, 18, 18,0.06) 22%,transparent 22%, transparent 100%),
  radial-gradient(circle at 67% 98%, rgba(223, 223, 223,0.06) 0%, rgba(223, 223, 223,0.06) 52%,transparent 52%, transparent 100%),
  radial-gradient(circle at 7% 92%, rgba(169, 169, 169,0.06) 0%, rgba(169, 169, 169,0.06) 52%,transparent 52%, transparent 100%),
  radial-gradient(circle at 46% 37%, rgba(187, 187, 187,0.06) 0%, rgba(187, 187, 187,0.06) 47%,transparent 47%, transparent 100%),
  radial-gradient(circle at 38% 35%, rgba(57, 57, 57,0.06) 0%, rgba(57, 57, 57,0.06) 99%,transparent 99%, transparent 100%),
  radial-gradient(circle at 46% 86%, rgba(100, 100, 100,0.06) 0%, rgba(100, 100, 100,0.06) 60%,transparent 60%, transparent 100%),
  linear-gradient(90deg, var(--hero-c1), var(--hero-c2));
}
/* 
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
