{% comment %} Django Backend Template {% endcomment %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MediOnDocs-Backend</title>
        <meta name="description" content="Backend template for MediOnDocs project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to <strong>MediOn<span>Docs</span></strong> Backend</h1>
            <p>This is the backend template for the MediOnDocs project.</p>
            <div class="links">
                <a href="https://mediondocs.netlify.app">Go to Front-End</a>
                <a href="https://github.com/Sridip-99/MediOnDocs" target="_blank">Go to Github</a>
            </div>
        </div>
    </body>
</html>